@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-primary: var(--primary);
}

html,
body {
}

@utility container {
  @apply w-full mx-auto px-4;

  @media (width >= 96rem /* 1536px */) {
    max-width: 80rem /* 1280px */;
  }
}

:root {
  --primary: oklch(0.556 0 0);
}
